* {
  margin: 0;
  padding: 0;
  background-color: #333;
}
.container{
  --bs-gutter-x: 0rem;
}

.input-todo>input {
  background-color: white;
  padding: 5px 50px 5px 10px;
  border-radius: 10px;
  color: black;
}

.input-todo>input:focus {
  outline: none;
}

.input-todo>button {
  color: white;
  background-color: blue;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
}

.input-todo>button:hover {
  background-color: green;
}

.list-item {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 50px;
  width: 50%;
  text-align: center !important;
}

.heading {
  font-size: 30px;
  font-weight: 600;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-delete {
  background-color: transparent;
  color: white;
  border: none;
  border: 1px solid white;
  padding: 0px 6px;
}

.btn-delete:hover {
  border: 1px solid red;
}

.btn-update {
  background-color: transparent;
  color: white;
  border: none;
  border: 1px solid white;
  padding: 0px 6px;
}

.btn-update:hover {
  border: 1px solid green;
}

li {
  list-style-type: none;
  width: 30% !important;
}

.delete-icon {
  font-size: 30px;
}

.input-label>label {
  color: white;
  width: 60% !important;
  font-size: 20px;
}
.task-complete>input{
  font-size: 20px;
}
.task-complete>label{
  font-size: 18px;
  color: white;
}
.remove-btn>button{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 20px;
}
/* Date Css */
.set-date>input[type="date"]{
  background-color: white;
  border: none;
  padding: 2px 5px;
}
.set-date>span{
  color: white;
  margin-right: 5px;
}
.set-date>p{
  color: white;
  margin: 0px 0px 0px 20px;
}
/* Date Css */